body{
    margin: 0;
}

.navegacion{
    background-color: blue;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    padding-left: 20px;
}

.lista{
    display: flex;
    list-style: none;
}

.item{
    background-color: aqua;
    padding: 5px 20px;
}